<div style="width: 60%;">
    <canvas id="bar"></canvas>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
            <select [(ngModel)]="lessThanOrGreaterThan" style="width: 150px;height: 30px;">
                <option value='lessThan'>Less Than</option>
                <option value='greaterThan'>Greater Than</option>
            </select>
            <input [(ngModel)]="filterLimit" placeholder="Filter Limit" style="width: 150px;height: 30px;">
        </div>
        <button class="button" style="width: 150px;height: 30px;" (click)="applyFilter(filterLimit)">Apply Filter</button>
        <button class="button" style="width: 150px;height: 30px;" (click)="setBarChartData()">Reset Chart</button>
    </div>
</div>