<div class="main" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">

  <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px" fxLayout.lt-md="column"
    fxLayoutAlign.lt-md="start stretch" fxLayoutGap.lt-md="10px">
    <div fxFlex="96">
      <app-bar-realtime-chart></app-bar-realtime-chart>
    </div>
  </div>

  <!-- <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px" fxLayout.lt-md="column"
    fxLayoutAlign.lt-md="start stretch" fxLayoutGap.lt-md="10px">
    <div fxFlex="48">
      <app-bar-chart></app-bar-chart>
    </div>
    <div fxFlex="48">
      <app-pie-chart></app-pie-chart>
    </div>
  </div> -->

  <!-- <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px" fxLayout.lt-md="column"
    fxLayoutAlign.lt-md="start stretch" fxLayoutGap.lt-md="10px">
    <div fxFlex="96">
      <app-filtered-chart></app-filtered-chart>
    </div>
  </div> -->

  

  <!-- <app-real-chat></app-real-chat> -->

</div>